.check-box {
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: #0e1621;
    -fx-border-color: #2a5885;
    -fx-border-width: 2;
}

.check-box .box:hover {
    -fx-background-color: #192734;
}

.check-box .mark {
    -fx-background-color: white;
}