.button {
    -fx-background-color: #2a5885;
    -fx-text-fill: white;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 14px;
    -fx-padding: 5 10 5 10;
}

.button:hover {
    -fx-background-color: #2e618e;
}

.button:pressed {
    -fx-background-color: #2b5987;
}